In [1]:
import os
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Some configs

DATASET_ROOT = '/home/xy/research/dataset/OpportunityUCIDataset/dataset/RLA_dataset'

# pd.options.display.max_columns = None

In [3]:
txt_list = os.listdir(DATASET_ROOT)
train_txt = os.path.join(DATASET_ROOT,txt_list[0])
val_txt = os.path.join(DATASET_ROOT,txt_list[1])

In [4]:
train_data = np.loadtxt(train_txt)
df_train = pd.DataFrame(train_data)

In [5]:
df_train

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,-870.0,532.0,137.0,305.0,90.0,471.0,262.0,-26.0,-682.0,219.0,607.0,-84.0,-760.0,0.0
1,-881.0,619.0,268.0,-841.0,180.0,539.0,264.0,-25.0,-678.0,238.0,605.0,-79.0,-756.0,0.0
2,-871.0,373.0,230.0,-1483.0,247.0,394.0,267.0,-2.0,-674.0,257.0,601.0,-63.0,-754.0,0.0
3,-906.0,313.0,233.0,-1210.0,291.0,251.0,274.0,23.0,-667.0,271.0,600.0,-49.0,-751.0,0.0
4,-917.0,302.0,240.0,-1020.0,287.0,202.0,279.0,42.0,-659.0,281.0,599.0,-36.0,-749.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557958,-938.0,309.0,125.0,-41.0,-70.0,158.0,344.0,-182.0,-860.0,122.0,641.0,-127.0,-747.0,0.0
557959,-938.0,309.0,125.0,-41.0,-70.0,158.0,344.0,-182.0,-860.0,122.0,641.0,-127.0,-747.0,0.0
557960,-938.0,309.0,125.0,-41.0,-70.0,158.0,344.0,-182.0,-860.0,122.0,641.0,-127.0,-747.0,0.0
557961,-938.0,309.0,125.0,-41.0,-70.0,158.0,344.0,-182.0,-860.0,122.0,641.0,-127.0,-747.0,0.0
557962,-938.0,309.0,125.0,-41.0,-70.0,158.0,344.0,-182.0,-860.0,122.0,641.0,-127.0,-747.0,0.0

In [6]:
df_train.T

,0,1,2,3,4,5,6,7,8,9,...,557953,557954,557955,557956,557957,557958,557959,557960,557961,557962
0,-870.0,-881.0,-871.0,-906.0,-917.0,-925.0,-921.0,-957.0,-914.0,-898.0,...,-938.0,-938.0,-938.0,-938.0,-938.0,-938.0,-938.0,-938.0,-938.0,-938.0
1,532.0,619.0,373.0,313.0,302.0,228.0,271.0,356.0,401.0,419.0,...,309.0,309.0,309.0,309.0,309.0,309.0,309.0,309.0,309.0,309.0
2,137.0,268.0,230.0,233.0,240.0,304.0,285.0,264.0,259.0,266.0,...,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0,125.0
3,305.0,-841.0,-1483.0,-1210.0,-1020.0,-588.0,-51.0,139.0,166.0,63.0,...,-41.0,-41.0,-41.0,-41.0,-41.0,-41.0,-41.0,-41.0,-41.0,-41.0
4,90.0,180.0,247.0,291.0,287.0,168.0,-28.0,-57.0,-83.0,8.0,...,-70.0,-70.0,-70.0,-70.0,-70.0,-70.0,-70.0,-70.0,-70.0,-70.0
5,471.0,539.0,394.0,251.0,202.0,114.0,-24.0,-135.0,-155.0,-127.0,...,158.0,158.0,158.0,158.0,158.0,158.0,158.0,158.0,158.0,158.0
6,262.0,264.0,267.0,274.0,279.0,285.0,285.0,281.0,282.0,280.0,...,344.0,344.0,344.0,344.0,344.0,344.0,344.0,344.0,344.0,344.0
7,-26.0,-25.0,-2.0,23.0,42.0,58.0,61.0,59.0,51.0,48.0,...,-182.0,-182.0,-182.0,-182.0,-182.0,-182.0,-182.0,-182.0,-182.0,-182.0
8,-682.0,-678.0,-674.0,-667.0,-659.0,-653.0,-654.0,-658.0,-664.0,-670.0,...,-860.0,-860.0,-860.0,-860.0,-860.0,-860.0,-860.0,-860.0,-860.0,-860.0
9,219.0,238.0,257.0,271.0,281.0,285.0,283.0,278.0,273.0,271.0,...,122.0,122.0,122.0,122.0,122.0,122.0,122.0,122.0,122.0,122.0
10,607.0,605.0,601.0,600.0,599.0,598.0,597.0,597.0,598.0,598.0,...,641.0,641.0,641.0,641.0,641.0,641.0,641.0,641.0,641.0,641.0
11,-84.0,-79.0,-63.0,-49.0,-36.0,-28.0,-27.0,-27.0,-29.0,-29.0,...,-127.0,-127.0,-127.0,-127.0,-127.0,-127.0,-127.0,-127.0,-127.0,-127.0
12,-760.0,-756.0,-754.0,-751.0,-749.0,-749.0,-750.0,-752.0,-753.0,-754.0,...,-747.0,-747.0,-747.0,-747.0,-747.0,-747.0,-747.0,-747.0,-747.0,-747.0
13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 557963 entries, 0 to 557962
Data columns (total 14 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       557963 non-null  float64
 1   1       557963 non-null  float64
 2   2       557963 non-null  float64
 3   3       557963 non-null  float64
 4   4       557963 non-null  float64
 5   5       557963 non-null  float64
 6   6       557963 non-null  float64
 7   7       557963 non-null  float64
 8   8       557963 non-null  float64
 9   9       557963 non-null  float64
 10  10      557963 non-null  float64
 11  11      557963 non-null  float64
 12  12      557963 non-null  float64
 13  13      557963 non-null  float64
dtypes: float64(14)
memory usage: 59.6 MB

In [ ]:
|